# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ttncompro?schema=public"

BETTER_AUTH_SECRET=2wLqtlD8P8NaQyRv9npDXwp8lFzlURj2
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

NEXT_PUBLIC_APP_URL=https://tibatibangoding.github.io
NEXT_PUBLIC_SEO_TITLE="Tiba Tiba Ngoding"
NEXT_PUBLIC_SEO_AUTHOR="Tiba Tiba Ngoding"
NEXT_PUBLIC_SEO_DESCRIPTION=""
NEXT_PUBLIC_SEO_LANGUAGE="id-ID"
NEXT_PUBLIC_SEO_LOCALE="id-ID"
NEXT_PUBLIC_SEO_SITE_URL=""
NEXT_PUBLIC_SEO_EMAIL="tibatibangoding@gmail.com"
NEXT_PUBLIC_SEO_PHONE=""
NEXT_PUBLIC_SEO_INSTAGRAM="https://www.instagram.com/tibatibangoding"
NEXT_PUBLIC_SEO_X=""
NEXT_PUBLIC_SEO_FACEBOOK=""
NEXT_PUBLIC_SEO_YOUTUBE="https://www.youtube.com/@tibatibangoding"